<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/registro.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap"
      rel="stylesheet"
    />
    <title>#Intercambio</title>
  </head>

  <body>
    <div id="form_wrapper">
      <section>
        <h1>Bienvenidx</h1>
        <form action="" method="post">
          <ul>
            <li>
              <input
                placeholder="Nombre"
                type="text"
                name="nombre"
                id="nombre"
                class="input_field"
              />
            </li>
            <li>
              <input
                placeholder="Apellido"
                type="text"
                name="apellido"
                id="apellido"
                class="input_field"
              />
            </li>
            <li>
              <input
                placeholder="DNI"
                type="text"
                name="dni"
                id="dni"
                class="input_field"
                required
              />
            </li>
            <li><input placeholder="Fecha" type="date" name="fecha" id="fecha" class="input_field"></li>
            <li><input placeholder="Dirección" type="text" name="direccion" id="direccion" class="input_field"></li>
            <li><input placeholder="Teléfono" type="tel" name="tel" id="tel" class="input_field"></li>
            <li>
              <input
                placeholder="Email"
                type="email"
                name="email"
                id="email"
                class="input_field"
              />
            </li>
            <li>
              <input
                placeholder="Contraseña"
                type="password"
                name="pass"
                id="pass"
                class="input_field"
                required
                minlength="6"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
              />
            </li>
            <li>
              <input
                placeholder="Confirmar contraseña"
                type="password"
                name="pass2"
                id="pass2"
                class="input_field"
                required
                minlength="6"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
              />
            </li>
        
          </ul>
          <fieldset>
            <label for="term">Acepto términos y condiciones</label>
            <input class="circulo" type="radio" name="term" id="term"></fieldset>
          <button type="submit" id="button-submit">
            UNIRSE
          </button>
        </form>
      </section>
    </div>
  </body>
</html>
